/* .container { 
  display: flex;
  } */

  .flex-container {
    display: flex;

  }

  .flex-container > div {
    background-color: papayawhip;
    height:200px;
    margin: 10px;
    
  }



.top-spacing{
    padding-top: 10px;
    padding-left: 113px;
}

.qtr-padding-left{
    margin-left: 10px;
}


.overflow-auto{
    overflow: auto;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: blanchedalmond;
  }