<!-- <header class="header">
  <nav class="main-nav">
    <a routerLink="" class="navitem">Q1 Image</a>
    <a routerLink="e-commerce" class="navitem">Q2 Shopping cart</a>
    <a routerLink="counterDec" class="navitem">Q3 counter Decorator</a>
    <a href="counterSubject" class="navitem">Q4 counter Subject</a>
    <a href="tablesort" class="navitem">Q5 Datatable sort</a>
    <a href="dynamicDiv" class="navitem">Q6 Dynamic Div</a>
  </nav>
</header>
<main>

  <router-outlet></router-outlet>
</main>
<footer>
  <h2>This is a footer</h2>
</footer> -->



<header>
  <nav class="main-nav">
    <a routerLink="" class="navitem">Q1 Image</a>
    <a routerLink="e-commerce" class="navitem">Q2 Shopping cart</a>
    <a routerLink="counterDec" class="navitem">Q3 counter Decorator</a>
    <a href="counterSubject" class="navitem">Q4 counter Subject</a>
    <a href="tablesort" class="navitem">Q5 Datatable sort</a>
    <a href="dynamicDiv" class="navitem">Q6 Dynamic Div</a>
  </nav>
</header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer>
  @Developed by: Arjun Dixith T S
</footer>